body{
    background: pink;
}

h1{
    text-align: center;
    color: red;
}
.submit-btn{
    background-color: red;
}
.nilai-bmi{
    background-color: #ffdd99;
    /* display: grid; */
    /* grid-template-rows: 50% 50%; */
}
.status{
    background-color: #ffdd99;
    /* display: grid;
    grid-template-rows: 50% 50%; */
    
}
input{
    background: #ffdd99;
    text-indent: 0.5em;
    max-width:100% ;
    color: black;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button{
    background: tomato;
    cursor: pointer;
}
button:hover{
    background: #c70039;
    color: white;
}
